.header {
   padding: 60px;
   text-align: center;
   background: #021373;
   color: white;
   font-size: 80px;
 }
 
 .profile {
   background-color: rgb(126, 126, 227);
   padding: 2%;
   width: 50%;
   list-style-type: disc;
   margin: 5%;
 }
 
 .isAFish {
   background-color: rgb(31, 31, 222);
   color: rgb(213, 213, 247);
   width: 50%;
   padding: 2%;
   margin: 5%;
 }
 
 ul {
   list-style-type: none; 
   padding: 2%;
 }
 
 li { 
   margin-bottom: 10px; 
   list-style-type: disc;
 }
 
 h1 {
   font-size: 60px;
 }